<!doctype html>
<meta charset="utf-8" xmlns="http://www.w3.org/1999/html"/>
<html>
<head>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>


<input type="button" value="Show Products" id="showProducts">
<input type="button" value="Checkout page" id="checkOutPage">
<a href="#checkOutPage"><i class="fas fa-shopping-cart" id ="cart"></i> <span id="visaAntalet"> </span></a>
<div id="products"></div> <!--I denna div ska alla produkter listas ut-->
<div id="dbReviews"></div> <!--I denna div ska alla produkter listas ut-->








<div id="checkout">
    <h3>Din varukorg </h3>
    <div id="checkoutCart">
        <p></p>
    </div>
    <h3 id="totalSum"> </h3>
    <form name="myForm" class='errors'>
        <h3>Fyll i formuläret</h3>
        <label>*Förnamn: </label>
        <input type="text" name="fname" placeholder="Förnamn.."><p></p>
        <label>*Efternamn:<br></label>
        <input type="text" name="lname" placeholder="Efternamn..."><p></p>
        <label>*E-post:<br></label>
        <input type="email" name="email" placeholder="E-post.."><p></p>
        <label>Telefon:<br></label>
        <input type="tel" name="telnr" placeholder="Telefon nr..."> <p></p>
        <label>*Gata:<br></label>
        <input type="text" name="adress" placeholder="Gata..."><p></p>
        <label>*Postnummer:<br></label>
        <input type="text" name="zip" placeholder="Postnummer..."><p></p>
        <label>*Ort:<br></label>
        <input type="text" name="city" placeholder="Ort..."><p></p>
        <br> <textarea  id="textarean" name="message" placeholder="Meddelande..." style="width:250px; height:100px"></textarea><br>
        <input type="button" value="submit" id="subBtn">
    </form>
</div>



<div id="reviewPage">
    <div id="wrapper">
        <div id="itemForRew"></div>
        <div id="recension">
            <h1>LÄMNA DIN RECENSION</h1>
            <label>* Förnamn: </label><br>
            <input type="text" id="firstName" name="fname" placeholder="Förnamn..">
            <bR><label> * Meddelande: </label>
            <br> <textarea  id="textareans" name="message" placeholder="Skriv din recension..."></textarea><br>
            <input type="text" id="myID"   value="" style="display: none">
            <div id="stars">
                <span data-value="1"  title='Poor'>&#9733;</span>
                <span data-value="2"  title='Fair'>&#9733;</span>
                <span data-value="3"  title='Good'>&#9733;</span>
                <span data-value="4"  title='Very good'>&#9733;</span>
                <span data-value="5"  title='Best ever'>&#9733;</span>
            </div>
            <input type="button" value="Skicka din recension" id="skickaRew" class="reviewButtons">
        </div>
        <div >
            <h4 id="par">Läs vad andra har tyckt om denna produkt</h4>
            <h4 id="utskrift"></h4>
            <h4 id="utskrift-db"></h4>

        </div>

    </div>



    <script type="text/javascript" src="../scripts/jquery.js"></script>
    <script src="../scripts/script.js"></script>
</body>
</html>