
body{max-width:1300px;
     margin: auto;
}

#products ul,#checkoutCart ul{
     display:inline-block;
     list-style: none;
     margin: auto;
     margin-top: 2em;
 }

img{
  max-height: 250px;
}

form {
    margin-top:2em;
    margin-left:2.5em;
    width: 300px;
    color: darkblue;
    background-color:lightgray;
}

form input ,label,textarea{
    width: 250px;
    margin-left:20px;
}

#checkout{
    display: none;
}

#checkOutPage,#showProducts {
    width: 120px;
    height: 40px;
    font-size:small;
    background-color: white;
}

#showProducts{
    margin-left:3em;
    background-color: lightblue;

}



p{ font-size: 13px;
    color: red;
    margin-bottom: 0.5em;
    text-align: center;
}

#subBtn{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h3{
    color: white;
    text-align: center;
    background-color: darkblue;
}

.submit{
    background-color: lightblue;

}

#checkoutCart img {
    height:150px;
}
#checkoutCart li{
    list-style: none;
}

#checkoutCart .submit, li:nth-child(1){
    display:none;
}

#products #quantitys{
    display: none;
}

#checkoutCart #quantitys{
    display: block;
}

input{
    width: 30px;
}

.sub,.add {
    color:white;

    margin: auto;
    background-color: darkslategrey;
}