
body{max-width:1300px;
    margin: auto;
}

#products ul,#checkoutCart ul{
    display:inline-block;
    list-style: none;
    margin: auto;
    margin-top: 2em;
}

img{
    max-height: 250px;
}

form {
    margin-top:2em;
    margin-left:2.5em;
    width: 300px;
    color: darkblue;
    background-color:lightgray;
}

form input ,label,textarea{
    width: 250px;
    margin-left:20px;
}

#checkout{
    display: none;
}

#checkOutPage,#showProducts {
    width: 120px;
    height: 40px;
    font-size:small;
    background-color: white;
}

#showProducts{
    margin-left:3em;
    background-color: lightblue;

}



p{ font-size: 13px;
    color: red;
    margin-bottom: 0.5em;
    text-align: center;
}

#subBtn{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h3{
    color: white;
    text-align: center;
    background-color: darkblue;
}

.submit{
    background-color: darkslategrey;
    color: white;
    height: 30px;
    width: 150px;
    font-size: 15px;
    cursor: pointer;

}

#checkoutCart img {
    height:150px;
}
#checkoutCart li{
    list-style: none;
}

#checkoutCart .submit, li:nth-child(1){
    display:none;
}

#products #quantitys{
    display: none;
}

#checkoutCart #quantitys{
    display: block;
}

input{
    width: 30px;
}

.sub,.add {
    color:white;

    margin: auto;
    background-color: darkslategrey;
}

.linken {
    cursor: pointer;
}

a{
    text-decoration: none;
    color:black;
}

#reviewPage{
    display: none;
}

#wrapper{
    display: flex;
}

#reviewPage img{
    max-height: 500px;
    margin-top: 2em;
    margin-left: 3em;
}


#itemForRew li{
    text-align: center;

}

#wrapper{
    display: grid;
    grid-template-columns:1fr 1fr;
}

#recension {
    justify-content: flex-end;
    margin: auto;
    margin-top: 3em;
}

#recension label{
    font-size: 20px;
}

#recension input{
    width: 200px;
    height: 25px;
    margin-left: 2em;
    margin-bottom: 1em;
    border: 1px solid darkslategrey;
}


#recension textarea{
    width: 400px;
    height: 200px;
    border: 1px solid darkslategrey;
}

#skickaRew{
    background-color: darkslategrey;
    color: white;
    font-size: 15px;
    height: 40px;
    width: 400px;
}


#listWithAllReviews{
    height: 600px;
}
h4{
    text-align: center;
    margin:0 3em  2em 3em;
    max-width: 400px;

}

#rec{
    text-align: center;
}

#stars span{
    cursor: pointer;
    color:orange;
    font-size: 20px;
}
#stars{
    margin-left: 20px;
}

#par{
    border-top: 2px solid green;
}
